@charset "UTF-8";
@import url(https://fonts.googleapis.com/css2?family=Roboto&family=Rubik:wght@400;500;700&display=swap);
/*Tamaños tipograficos*/
/* Paleta de colores*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

/* Estilos textos y botones */
h1,
h2,
h3,
h4 {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  color: white;
  margin-bottom: 20px;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: black;
}

.btn {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
  border-radius: 30px;
  padding: 10px 20px;
}

/* Slides */
.slider {
  margin-top: 100px;
  margin-bottom: 100px;
}
.slider .slider_texto {
  background-color: #995EBA;
  border-radius: 10px;
  padding: 80px 80px;
}
.slider .slider_foto {
  background-image: url(../imagenes/i_home.jpg);
  background-position: center;
  background-size: cover;
  height: 400px;
  border-radius: 10px;
  margin-left: -30px;
}

.slide_quienes {
  background-image: url(../imagenes/slide_foto.jpg);
  background-position: center;
  background-size: cover;
  height: 400px;
  border-radius: 10px;
  margin: 30px 0px 40px 0px;
}

/* Areas de tratamiento */
.areas {
  background-color: #91BBF2;
  align-items: center;
  padding: 80px 80px;
}

.row {
  align-items: center;
}

.areas_titulo {
  padding-bottom: 30px;
}

.img {
  background-color: white;
  border-radius: 10px;
  padding-bottom: 60px;
}

/* Call Donar */
.jumbotron {
  border-radius: 0;
  padding: 30px 80px 30px 80px;
  margin-bottom: 0px;
}

.donar {
  background-image: linear-gradient(to left, #FF6C00, #F2490C);
}

/* Novedades */
.novedades {
  margin-top: 60px;
  margin-bottom: 30px;
}
.novedades h2 {
  font-size: 32px;
}
.novedades .row {
  align-items: flex-start;
}

.card {
  border: 0px;
}

.card-title {
  color: #995EBA;
}

/* Nosotros */
.nosotros {
  margin: 0;
  padding: 20px 80px 20px 80px;
}

/* Sede */
.sede {
  margin: 0;
  padding: 10px 80px;
}

.i_sede {
  height: 350px;
  width: auto;
}

/* Misión y Visión */
.mision {
  background-color: #91BBF2;
  padding: 80px 80px;
}

.texto_mision {
  padding-left: 15px;
  padding-right: 15px;
  align-items: initial;
}

.texto_mision p {
  color: white;
}

/* Como ayudar */
.clase-ayuda {
  align-items: flex-start;
}

/* Contacto */
.formulario {
  background-color: #995EBA;
  padding: 60px 80px;
}

.form-control {
  margin-bottom: 12px;
  border: 0px;
}

.fa-brands {
  text-decoration: none;
  font-size: 30px;
  letter-spacing: 10px;
  color: white;
}

.footer {
  background-color: #73478B;
  text-align: center;
}

@media (max-width: 576px) {
  .navbar {
    padding: 20px;
  }
  .slider {
    margin-top: 160px;
  }
  .slider_texto {
    background-color: #995EBA;
    border-radius: 0px;
    padding: 30px 30px 30px 30px;
  }
  .areas {
    padding: 30px;
  }
  .img {
    overflow: hidden;
  }
  .jumbotron {
    padding: 2rem 2rem;
  }
  .mision {
    padding: 20px;
  }
  .nosotros {
    padding: 20px;
  }
  .sede {
    padding: 20px;
  }
  .formulario {
    padding: 2rem;
  }
}
@media (max-width: 768px) {
  .slider {
    margin-top: 60px;
  }
  .slider_texto {
    background-color: #995EBA;
    padding: 30px 50px 30px 30px;
  }
}
/* Navbar */
.navbar {
  height: 110px;
  background-color: white;
  padding: 40px;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 30px;
}
.navbar .brand {
  width: 200px;
}
.navbar .collapse {
  justify-content: end;
  background-color: white;
}
.navbar .navbar-toggler {
  background-color: rgba(152, 94, 186, 0.4901960784);
}
.navbar .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(115,71,139)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.navbar .navbar-expand-sm {
  justify-content: space-around;
  margin-top: 30px;
}

.nav-item a {
  color: #995EBA;
}
.nav-item a:hover {
  color: #73478B;
}/*# sourceMappingURL=estilos.css.map */